.navbar-expand-lg {
    .navbar-brand {
        padding-right: 2rem;
    }
    .navbar-nav > li.nav-item > a {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #navbarColor01 {
        @include mq($until: md){
            padding-bottom: 1rem;
        }
    }
}